<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Services</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>services</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan QR codes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background for service location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open for service location.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photos access to get QR code from photo library</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>


	<key>NSAppleMusicUsageDescription</key>
<string>Not used</string>
<key>NSCalendarsUsageDescription</key>
<string>Not used</string>
<key>NSCameraUsageDescription</key>
<string>Not used</string>
<key>NSContactsUsageDescription</key>
<string>Not used</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Not used</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>Not used</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Not used</string>
<key>NSMicrophoneUsageDescription</key>
<string>Not used</string>
<key>NSMotionUsageDescription</key>
<string>Not used</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Not used</string>
<key>NSRemindersUsageDescription</key>
<string>Not used</string>
<key>NSSpeechRecognitionUsageDescription</key>
<string>Not used</string>

</dict>
</plist>
